<nav role="navigation" class="navbar navbar-fixed-top navbar-andross">
	<div class="navbar-header">
		<a href="/" class="navbar-brand visible-xs" data-target="#navbarCollapse"	data-toggle="collapse">
		{{ site.data.settings.client.brand }}</a>
		<button type="button" data-target="#navbarCollapse"	data-toggle="collapse" class="navbar-toggle">
			<span class="sr-only">Toggle navigation</span>
			<i class="fa fa-bars fa-2x"></i>
		</button>
		<!-- {% if site.data.settings.client.phone_CTA == true %}
			<button type="button" class="navbar-toggle phone">
				<a href="tel:{{site.data.settings.client.phone}}"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></a>
			</button>
		{% endif %} -->
	</div>

 	<div id="navbarCollapse" class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-left">
			<li><a href="/">Home</a></li>
			<li><div class="dropdown">
	<button class="dropbtn" id="inline-drop">Búsqueda de listados <i class="fa fa-angle-down"></i></button>
	<div class="dropdown-content">
		<a href="https://www.kwnicaragua.com/listings#?agentId=14319&agentName=Joao%20Mucciolo&resCom=0&transactionType=0&lan=es-NI&currency=USD&filterVal=1026&refineSearch=1&pageNumber=1" target="_blank">Joao's Listings</a>
		<a href="https://www.kwnicaragua.com/listings#?agentId=17426&agentName=Daphne%20Espinoza&resCom=0&transactionType=0&lan=en-US&currency=USD&filterVal=1026&refineSearch=1&pageNumber=1" target="_blank">Daphne's Listings</a>
		<a href="https://www.kwnicaragua.com/listings#?agentId=25325&agentName=Gary%20Clements&resCom=0&transactionType=0&lan=en-US&currency=USD&filterVal=1026&refineSearch=1&pageNumber=1" target="_blank">Gary's Listings</a>
	</div>
</div></li>
			<li><a href="{{site.data.settings.CTAs.second_CTA_URL}}">{{site.data.settings.CTAs.second_CTA_text}}</a></li>
			<li><a href="{{site.data.settings.CTAs.third_CTA_URL}}" target="_blank">{{site.data.settings.CTAs.third_CTA_text}}</a></li>
			<li><a href="/testimonios">Testimonios</a></li>
			<li><a href="/sobre">Sobre</a></li>
			<li><a href="/contact" id="contacto">Contacto</a></li>

		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><div class="dropdown">
				<button class="dropbtn">Español <i class="fa fa-angle-down"></i></button>
				<div class="dropdown-content">
					<a href="https://en.trinityrealestatenicaragua.com/">English</a>
				</div>
			</div></li>
		</ul>
</nav>
